<html>
<head>
	<title>titulo da pagina</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
	<script src="js/vendor/jquery-3.3.1.slim.min.js" ></script>
	<script src="js/vendor/jquery.maskedinput.min.js" ></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/scripts.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="myApp" ng-controller="cartaoCtrl"><br><br>
	<div class="container">
		<div class="row">
		<p ng-if="cartoes.length == 0">Não existe cartões na tabela</p>
		<div class="col-lg-6">
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Formulario {{idiomaOrigem}}</h3>
				</div>
				<div class="card-body">
					<form class="form" role="form" autocomplete="off" id="form-register">
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Idioma origem</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" ng-model="cartaoSelecionado.idiomaOrigem"  required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Idioma destino</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" ng-model="cartaoSelecionado.idiomaDestino"  required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Texto origem</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" ng-model="cartaoSelecionado.textoOrigem"> 
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Texto destino</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" ng-model="cartaoSelecionado.textoDestino"> 
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Nível</label>
							<div class="col-lg-9">
								<input class="form-control" ng-model="cartaoSelecionado.nivel" id="nivel"> 
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label"></label>
							<div class="col-lg-9">
								<input type="reset" class="btn btn-danger" value="Limpar" id="btnLimpar">
								<input type="button" class="btn btn-success hide" value="popular" ng-click="popularCampos()">
								<input type="submit" class="btn btn-primary" ng-click="inserirCartao()" value="Salvar">
							</div>
						</div>
					</form>
				</div><!--card body-->
			</div><!-- card top -->
		</div>

		<div class="col-lg-6">
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Flash Cards</h3>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table" id="tabela" ng-if="cartoes.length > 0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Idioma Origem</th>
								<th>Idioma Destino</th>
								<th>Texto Origem</th>
								<th>Texto Destino</th>
								<th>Açoes</th>
							</tr>
						</thead>
						<tbody id="corpo">
							<tr ng-repeat="cartao in cartoes | orderBy : 'id' ">
								<td>{{cartao.id}}</td>
								<td>{{cartao.idiomaOrigem}}</td>
								<td>{{cartao.idiomaDestino}}</td>
								<td>{{cartao.textoOrigem}}</td>
								<td>{{cartao.textoDestino}}</td>
								<td> <button class="btn btn-primary" ng-click="selecionarCartao(cartao)">E</button> </td>
								<td> <button class="btn btn-danger" ng-click="deletarCartao(cartao.id)">X</button> </td>
							</tr>
						</tbody>
						</table>
					</div><!-- table responsive div-->
				</div>
			</div>
		</div><!-- col lg div-->
	</div>
</div><!-- container -->

	<form>
		
	</form>
	
</body>
</html>