h3{
	color: white;
}

h2{
	color: white;
}

.card-header{
	background-color: lightseagreen;
}

.card-body{
	background-color: lightcyan;
}

.hide{
	display: none;
}

.center{
	align-content: center;
	text-align: center;	
}

.cartao{
	margin-top: 10px;
	font-size: 5rem;
}

/*.cartao:hover{
	font-size: 5rem;
}*/

.botoes{
	margin-top: 20px;
}

.setas{
	cursor: pointer;
}